<html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap-multiselect.js') }}"></script>


<title>dTrivia</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-warning">
      <div>
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      </div>
      <span id='close' onclick='this.parentNode.parentNode.removeChild(this.parentNode); return false;'>x</span>
    </div>
  {% endif %}
{% endwith %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">dTrivia</a>
    </div>

    {% if session.get("session_id", None) == None %}
      <ul class="nav navbar-nav">
        <li id="home-nav-button"><a href="{{ url_for('index') }}">Home</a></li>
        <li id="nav-button-1"><a href="{{ url_for('login_page') }}">Login</a></li>
        <li id="nav-button-2"><a href="{{ url_for('register_page') }}">Register</a></li>
      </ul>
    {% else %}
      <ul class="nav navbar-nav">
        <li id="home-nav-button"><a href="{{ url_for('index') }}">Home</a></li>
        <li id="nav-button-1"><a href="{{ url_for('create_game_page') }}">Create Game</a></li>
        <li id="nav-button-2"><a href="{{ url_for('join_game_page') }}">Join Game</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-brand">Welcome {{ session['user_name'] }}</p></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    {% endif %}
  </div>
</nav>

<div class="container">
  
    <h1>{% block page_title %}{% endblock %}</h1>
    
    <p>{% block body %}{% endblock %}</p>
  
  </div>

  <script>
    // set active nav button
    button1 = document.getElementById("nav-button-1");
    button2 = document.getElementById("nav-button-2");
    homeButton = document.getElementById("home-nav-button");

    if (window.location.pathname == "/login") {
      button1.className = "active";
    } else if (window.location.pathname == "/register") {
      button2.className = "active";
    } else {
      homeButton.className = "active";
    }

  </script>
</html>